/*
	COLUMNS
*/
.md-typeset .col2,
.md-typeset .col3,
.md-typeset .col4 {
	margin-bottom: 1rem;
}

.md-typeset .admonition .col2,
.md-typeset .admonition .col3,
.md-typeset .admonition .col4,
.md-typeset details .col2,
.md-typeset details .col3,
.md-typeset details .col4 {
	margin: 0.8rem 1.4rem;
}

.md-typeset .col2 ul {
	columns: 2 14rem;
}

.md-typeset .col3 ul {
	columns: 3 10rem;
}

.md-typeset .col4 ul {
	columns: 4 7rem;
}

.md-typeset .admonition .col2 ul,
.md-typeset details .col2 ul {
	columns: 2 12rem;
}

.md-typeset .admonition .col3 ul,
.md-typeset details .col3 ul {
	columns: 3 7rem;
}

.md-typeset .admonition .col4 ul,
.md-typeset details .col4 ul {
	columns: 4 6rem;
}

.md-typeset .col2 ul,
.md-typeset .col3 ul,
.md-typeset .col4 ul {
	margin-top: 0;
	list-style: none;
	padding: 0;
	margin-left: 0;
}

.md-typeset .col2 ul li,
.md-typeset .col3 ul li,
.md-typeset .col4 ul li {
	margin-left: 0;
}

/*
	HEADERS
*/
h2 {
	border-bottom: 3px solid #78787822;
}

h3 {
	border-bottom: 1px solid #78787822;
}

/*
	Lists
*/
.md-typeset dd {
	margin: 0.4em 0 1.2em 1.875em;
}

.md-nav__list .md-nav__list .md-nav__list {
	font-size: 94%;
}

/*
	Links with CODE
*/
.md-typeset pre {
	margin: 0;
}

.md-typeset code {
	word-break: initial;
}

/*
	NAV
*/
.md-nav__title {
	font-size: 130%;
}

.md-tabs__link {
	opacity: 0.85;
}

/* MDN examples */
.interactive {
	box-sizing: border-box;
	background-color: #f5f9fa;
	color: #333;
	padding: 10px;
	border: 1px solid #eaf2f4;
	height: 390px;
	width: 100%;
}

.layout {
	display: grid;
	align-items: flex-start;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 2rem;
}
@media (min-width: 60rem) {
	.layout4 {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	.layout2 {
		grid-template-columns: 1fr 1fr;
	}
}
.layout .cell {
	align-items: center;
	display: flex;
	flex-direction: column;
	grid-column-gap: 2rem;
}
.layout .cell h3 {
	margin: 0;
}
.layout .cell h3 .headerlink {
	display: none;
}

.md-tabs__list li:last-child {
	position: absolute;
	right: 0;
}
.md-tabs__list li:last-child a {
	font-weight: 700;
	padding-left: 24px;
	background: url('/heart.svg') left center / 16px 16px
		no-repeat;
}

/* auto scroll for code */
.md-typeset .highlight {
	max-height: 539.3px;
	overflow-y: auto;
	border-radius: 0 0 15px 15px;
	box-shadow: 0 5px 25px #78787860;
	border: 1px solid #78787840;
}

.md-typeset .admonition .highlight {
	box-shadow: none;
}

.md-typeset .highlighttable {
	margin-top: 0;
	margin-bottom: 0;
}

/* Page status: experimental */
:root {
	--md-status--experimental: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M5 19a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1c0-.21-.07-.41-.18-.57L13 8.35V4h-2v4.35L5.18 18.43c-.11.16-.18.36-.18.57m1 3a3 3 0 0 1-3-3c0-.6.18-1.16.5-1.63L9 7.81V6a1 1 0 0 1-1-1V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v1a1 1 0 0 1-1 1v1.81l5.5 9.56c.32.47.5 1.03.5 1.63a3 3 0 0 1-3 3H6m7-6 1.34-1.34L16.27 18H7.73l2.66-4.61L13 16m-.5-4a.5.5 0 0 1 .5.5.5.5 0 0 1-.5.5.5.5 0 0 1-.5-.5.5.5 0 0 1 .5-.5Z"></path></svg>');
}

.md-status--experimental::after {
	mask-image: var(--md-status--experimental);
	-webkit-mask-image: var(--md-status--experimental);
}
