/*
	COLUMNS
*/
.md-typeset .col2,
.md-typeset .col3,
.md-typeset .col4 {
	margin-bottom: 1rem;
}

.md-typeset .admonition .col2,
.md-typeset .admonition .col3,
.md-typeset .admonition .col4,
.md-typeset details .col2,
.md-typeset details .col3,
.md-typeset details .col4 {
	margin: 0.8rem 1.4rem;
}

.md-typeset .col2 ul {
	columns: 2 14rem;
}

.md-typeset .col3 ul {
	columns: 3 10rem;
}

.md-typeset .col4 ul {
	columns: 4 7rem;
}

.md-typeset .admonition .col2 ul,
.md-typeset details .col2 ul {
	columns: 2 12rem;
}

.md-typeset .admonition .col3 ul,
.md-typeset details .col3 ul {
	columns: 3 7rem;
}

.md-typeset .admonition .col4 ul,
.md-typeset details .col4 ul {
	columns: 4 6rem;
}

.md-typeset .col2 ul,
.md-typeset .col3 ul,
.md-typeset .col4 ul {
	margin-top: 0;
	list-style: none;
	padding: 0;
	margin-left: 0;
}

.md-typeset .col2 ul li,
.md-typeset .col3 ul li,
.md-typeset .col4 ul li {
	margin-left: 0;
}

/*
	HEADERS
*/
h2 {
	border-bottom: 3px solid #f6f6f6;
}

h3 {
	border-bottom: 1px solid #f6f6f6;
}

/*
	Lists
*/
.md-typeset dd {
	margin: 0.4em 0 1.2em 1.875em;
}

.md-nav__list .md-nav__list .md-nav__list {
	font-size: 94%;
}

/*
	Links with CODE
*/
.md-typeset pre {
	margin: 0;
}

.md-typeset code {
	word-break: initial;
}

/*
	NAV
*/
.md-nav__title {
	font-size: 130%;
}

.md-tabs__link {
	opacity: 0.85;
}

/*
	CODE BLOCK
*/
.md-typeset .codehilite,
.md-typeset .highlight {
	border: 1px solid rgba(236, 236, 236, 1);
}

/* Google button */
.gsc-search-button-v2 svg {
	fill: #ffffff;
	min-width: 13px;
	min-height: 13px;
}

/* MDN examples */
.interactive {
	box-sizing: border-box;
	background-color: #f5f9fa;
	color: #333;
	padding: 10px;
	border: 1px solid #eaf2f4;
	height: 390px;
	width: 100%;
}

.layout {
	display: grid;
	align-items: flex-start;
	grid-template-columns: 1fr 1fr;
}
@media (min-width: 60rem) {
	.layout4 {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	.layout2 {
		grid-template-columns: 1fr 1fr;
	}
}
.layout .cell {
	align-items: center;
	display: flex;
	flex-direction: column;
	font-size: 85%;
	grid-column-gap: 2rem;
}
.layout .cell h3 {
	margin: 0;
}
.layout .cell h3 .headerlink {
	display: none;
}
